* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

body {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.container {
    height: 100vh;
    width: screen;
    /* background: rgb(0, 3, 29); */
    background: black;
    padding: 0.5rem;

}

.title {
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.navButtons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: fit-content;
    gap: 0.1rem;

}

.navButtons button {
    padding: 0.8rem;
    border: none;
    /* background-color: rgb(1, 5, 46); */
    background-color: rgb(37, 37, 37);
    color: #fff;
    border-radius: 0.5rem;
    margin: 0.5rem 0;
    font-weight: bold;

}

.navButtons button:focus {

    background-color: orange;
    color: black;

}

.navButtons a{
    text-decoration: none;
    color: white;
}


/* --------------------Styling the Calculator----------------- */
.calculatorDisplay{
    /* background-color: red; */
    width: 100%;
    height: fit-content;
    display: grid;
    /* grid-template-columns: 20% auto; */
    gap: 0.5rem;
    margin: 0.5rem 0;
}

.calculatorDisplay #display{
    width: full;
    height: 5.5rem;
    background: rgb(129, 214, 0);
    color: black;
    font-size: 2rem;
    outline: none;
    border-radius: 0.2rem;

     display: flex;
    align-items: center;
    justify-content: center;
    
    
}

#display{
   
}

.functionKeys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1px;
}

.calculatorButtons{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1px;
}


.numberButtons{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1px;
}

 button, input {
    color: white;
    padding: 1.2rem ;
    font-size: 1.2rem;
    background-color: rgb(37, 37, 37);
    border: none;

    
}


 button:focus, input:focus {
    color: rgb(37, 37, 37);
    background-color: orange;
        
}